<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Klausimai</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
	<link rel="stylesheet" href="menu.css">
	<link rel="stylesheet" href="common.css">
	<style>
		
	</style>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$( function() {
		var dialog, form,
		pav = $( "#pav" ),
		verte = $("#verte"),
		id = $("#id"),
		allFields = $( [] ).add( pav).add(verte),
		tips = $( ".validateTips" );
	 
		function updateTips( t ) {
		      tips
			.text( t )
			.addClass( "ui-state-highlight" );
		      setTimeout(function() {
			tips.removeClass( "ui-state-highlight", 1500 );
		      }, 500 );
		}
 
		function checkLength( o, n, min, max ) {
			if ( o.val().length > max || o.val().length < min ) {
				o.addClass( "ui-state-error" );
				updateTips( n +  " ilgis turi būti tarp " +
				  min + " ir " + max + " raidžių." );
				return false;
			} else {
				return true;
		      }
		}
		function checkNumber( o, n, min, max ) {
			if ( parseInt ( o.val() ) > max || parseInt ( o.val() ) < min ) {
				o.addClass( "ui-state-error" );
				updateTips( n +  " reikšmė turi būti tarp " +
				  min + " ir " + max + "." );
				return false;
			} else {
				return true;
		      }
		}
		function checkRegexp( o, regexp, n ) {
			if ( !( regexp.test( o.val() ) ) ) {
				o.addClass( "ui-state-error" );
				updateTips( n );
				return false;
			} else {
				return true;
		      }
		}
	 
		function addProduct() {
			var valid = true;
			 allFields.removeClass( "ui-state-error" );
		 
			valid = valid && checkLength( pav, "Klausimo pavadinimo", 1, 30 );
			valid = valid && checkNumber( verte, "Vertes", 0, 1000 ); 

			// valid = valid && checkRegexp( Pavadinimas, /^[a-z]([0-9a-z_\s])+$/i, "product may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
	 
			if ( valid ) {
				 
				$( '#produkto_forma' ).submit();
				dialog.dialog( "close" ); 
				
			}
			return valid;
		}
	 
		dialog = $( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 350,
			modal: true,
			buttons: {
				"Sukurti": addProduct,
				Atsaukti: function() {
					dialog.dialog( "close" );
				}
			},
			close: function() {
				form[ 0 ].reset();
				allFields.removeClass( "ui-state-error" );
			}
		});
	 
		form = dialog.find( "form" );  
		
		trintidialog = $( "#dialog-confirm" ).dialog({
			autoOpen: false,
			resizable: false,
			height: "auto",
			width: 400,
			modal: true,
			buttons: {
				"Ištrinti įrašą": function() {
					$( '#salinimo_forma' ).submit();
					$( this ).dialog( "close" );
				},
				Atšaukti: function() {
					$( this ).dialog( "close" );
				}
			}
		});
		$( "#create-product" ).button().on( "click", function() {
		
			$( '#pav_veiksmo' ).html ( 'Kuriamas naujas įrašas' );
			$( '#veiksmas' ).val ( 'papildyti' );
			dialog.dialog( "open" );
		});

		$( ".keisti" ).each ( function() {
		
			$( this ).on( "click", function() {
			
				$( '#pav_veiksmo' ).html (  'Koreguojamas įrašas' );
				
				$('#pav').val(  $( this ).data ( 'pav' ));
				$( '#id_taisomo_iraso' ).val($( this ).data( 'id' ));
				$("#verte").val( $( this ).data( 'verte' ));
				
				$( '#veiksmas' ).val ( 'pakeisti' );
				
				dialog.dialog( "open" );	
			});
		});
		
		$( ".salinti" ).each ( function() {
		
			$( this ).on( "click", function() {
			 
				$( '#id_salinamo_iraso' ).val ($( this ).data( 'id' ));
				$( '#pav_salinamo_iraso' ).html ($( this ).data ( 'pav' ) );	
				
				trintidialog.dialog( "open" );	
			});
		});
	});
  </script>
</head>
<body>
	<div id="menu">
		<ul id="menu_sarasas">
			<li id="menu_punktas" th:each="menu_item : ${lst_menu}">
				<a th:href="${menu_item.itemurl()}" th:text="${menu_item.naujasPavadinimas()}" th:attr="class=${menu_item.itemurl()}=='/klausimai' ? 'active' : 'zzz'"></a>
			</li>
		</ul>
	</div>
		<div id="dialog-form" title="Klausimai">
			<p class="validateTips">Visi laukai privalomi</p>
			<p id="pav_veiksmo"></p>
		<form id="produkto_forma" method="POST">
			<fieldset>
				<label for="pav">Klausimai</label>
				<input type="text" name="pav" id="pav" value="" class="text ui-widget-content ui-corner-all" required>
				
				<label for="verte"> verte </label><br>
				<input type="number" name="verte" id="verte" value="" class="text ui-widget-content ui-corner-all" required>
				
				<label for="nr"> nr </label><br>
				<input type="number" name="nr" id="nr" value="" class="text ui-widget-content ui-corner-all" required>
				
				<input type="hidden" name="veiksmas" id="veiksmas" value="papildyti">
				<input type="hidden" name="id" id="id_taisomo_iraso" value="0">
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
			</fieldset>
		</form>
	</div>
	<div id="main">
		<h3>Esami klausimai</h3>
		<button id="create-product">Irašyti klausima</button>
		<table id="duombazes_lentele">
			<thead>
				<tr>
					<th>Veiksmai</th>
					<th>Klausimas</th>
					<th>nr</th>
					<th>Verte</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="klausimas: ${lst}">
						<td>
							<input type="button" class="keisti" value="keisti" id="keisti" th:attr="data-id=${klausimas.getId()},data-pav=${klausimas.getPav()}, data-verte=${klausimas.getVerte()}">
							<input type="button" class="salinti" value="šalinti" id="salinti" th:attr="data-id=${klausimas.getId()},data-pav=${klausimas.getPav()}">
						</td>
					<td>
						<a  th:text="${klausimas.getPav()}"  th:href="@{/klausimas(id_kl=${klausimas.getId()})}">
							</a>
						<td th:text="${klausimas.getNr()}"> 
							</td>
						<td th:text="${klausimas.getVerte()}">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="dialog-confirm" title="Ištrinti įrašą?">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
		<p>Šis įrašas <span id="pav_salinamo_iraso"></span> bus ištrintas ir nebus įmanoma jo atkurti. Ar tikrai norite ištrinti įrašą?</p>
		<form id="salinimo_forma" method="POST">
			<input type="hidden" name="salinti" value="pasalinti">
			<input type="hidden" name="id" id="id_salinamo_iraso" value="0">
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</form>
	</div>
</body>
</html>